asgiref==3.2.7
astroid==2.4.0
certifi==2020.4.5.2
chardet==3.0.4
colorlog==4.1.0
Django==3.0.8
djangorestframework==3.11.0
idna==2.9
imutils==0.5.3
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
mss==5.1.0
numpy==1.18.3
opencv-python==4.2.0.34
pafy==0.5.5
Pillow==7.1.2
pylint==2.5.0
pytz==2019.3
pyzmq==19.0.1
requests==2.24.0
six==1.14.0
sqlparse==0.3.1
toml==0.10.0
tqdm==4.46.1
typed-ast==1.4.1
urllib3==1.25.9
vidgear==0.1.8
wrapt==1.12.1
youtube-dl==2020.6.16.1
