{% extends 'based/based.html' %}

  {% block content %}
        <!-- START: Main Content-->
        <main>
            <div class="container-fluid site-width">
                <!-- START: Breadcrumbs-->
                <div class="row ">
                    <div class="col-12  align-self-center">
                        <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                            <div class="w-sm-100 mr-auto"><h4 class="mb-0">{{title}}</h4></div>

                            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item">App</li>
                                <li class="breadcrumb-item active"><a href="#">{{title}}</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- END: Breadcrumbs-->

                <!-- START: Card Data-->
                <div class="row">
                    <div class="col-12 col-lg-3 col-xl-2 mb-4 mt-3 pr-lg-0 flip-menu">
                        <a href="#" class="d-inline-block d-lg-none mt-1 flip-menu-close"><i class="icon-close"></i></a>
                        <div class="card border h-100 mail-menu-section ">
                            <div class="media d-block text-center  p-3">
                                <a href="#" class="bg-primary w-100 d-block py-2 px-2 rounded text-white" data-toggle="modal" data-target="#addnote">
                                    <i class="icon-plus align-middle text-white"></i> <span>Add Group</span>
                                </a>
                            </div>

                            <!-- Add Note -->
                            <div class="modal fade" id="addnote">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                <i class="icon-pencil"></i> Add Camera Group
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <i class="icon-close"></i>
                                            </button>
                                        </div>

                                        <form class="add-note-form">
                                            <div class="modal-body">                                               

                                                <div class="form-group">
                                                    <label for="title" class="col-form-label">Title</label>
                                                    <input type="text" class="form-control" id="title">
                                                </div>                                                    

                                                <div class="form-group">
                                                    <label for="description" class="col-form-label">Description</label>
                                                    <textarea class="form-control" rows="10" id="description"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="chkbox">                                                        
                                                        <input type="checkbox" class="starred" id="starred">
                                                        <span class="checkmark"></span>
                                                        Starred
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="chkbox">                                                        
                                                        <input type="checkbox" class="important" id="important">
                                                        <span class="checkmark"></span>
                                                        Important message
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <label for="title" class="col-form-label">Label</label>
                                                    <select class="form-control" id="type">
                                                        <option value="business-note">Business</option>
                                                        <option value="private-note">Private</option>
                                                        <option value="social-note">Social</option>
                                                        <option value="personal-note">Personal</option>
                                                        <option value="work-note">Work</option>
                                                    </select>
                                                </div> 

                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary add-todo">Add Group</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- Edit Note -->
                            <div class="modal fade" id="editnote">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                <i class="icon-pencil"></i> Edit Note
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <i class="icon-close"></i>
                                            </button>
                                        </div>

                                        <form class="edit-note-form">
                                            <div class="modal-body">                                               

                                                <div class="form-group">
                                                    <label for="title" class="col-form-label">Title</label>
                                                    <input type="text" class="form-control" id="edit-title">
                                                </div>                                                    

                                                <div class="form-group">
                                                    <label for="description" class="col-form-label">Description</label>
                                                    <textarea class="form-control" rows="10" id="edit-description"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="chkbox">                                                        
                                                        <input type="checkbox" class="starred" id="edit-starred">
                                                        <span class="checkmark"></span>
                                                        Starred
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="chkbox">                                                        
                                                        <input type="checkbox" class="important" id="edit-important">
                                                        <span class="checkmark"></span>
                                                        Important
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <label for="title" class="col-form-label">Label</label>
                                                    <select class="form-control" id="edit-type">
                                                        <option value="business-note">Business</option>
                                                        <option value="private-note">Private</option>
                                                        <option value="social-note">Social</option>
                                                        <option value="personal-note">Personal</option>
                                                        <option value="work-note">Work</option>
                                                    </select>
                                                </div> 

                                            </div>
                                            <div class="modal-footer">
                                                <input type="hidden" class="note-date"/>
                                                <button type="submit" class="btn btn-primary add-todo">Edit Note</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                            <ul class="list-unstyled inbox-nav  mb-0 mt-2 notes-menu">
                                <li class="nav-item"><a href="#" data-notetype="all" class="nav-link active"><i class="icon-envelope pr-2"></i> All Group</a></li>
                                {% for group in groupcamera %}
                                <li class="nav-item"><a href="#" data-notetype="{{group.id}}" class="nav-link"><i class="icon-drawer pr-2"></i>{{group.cgroup_name}}</a></li>
                                {% endfor %}                            
                            </ul>
                            <div class="eagle-divider"></div>
                           

                        </div>
                    </div>
                   
                    <div class="col-12 col-lg-9 col-xl-10 mb-4 mt-3 pl-lg-0">
                        <div class="card border  h-100 notes-list-section"> 
                            <a href="#" class="d-inline-block d-lg-none flip-menu-toggle border-0"><i class="icon-menu"></i></a>
                            <div class="row notes">
                                 {% for groupcam in groupcamera %}
                                <div class="col-12  col-md-6 col-lg-4 my-3 note business-note all {{groupcam.id}}" data-type="business-note">
                                    <div class="card">                            
                                        <div class="card-content">
                                            <div class="card-body p-4 large-icons">
                                                <h6 class="mb-3 font-w-600">{{groupcam.cgroup_name}}</h6>
                                                    <div class='d-flex px-0 px-lg-2 py-2 align-self-center'>
                                                      <i class="icon-camera icons card-liner-icon mt-2"></i>
                                                        <div class='card-liner-content'>
                                                            <h2 class="card-liner-title">{{groupcam.cgroup_much}}</h2>
                                                             <h6 class="card-liner-subtitle">Total's Camera</h6>  
                                                                                                 
                                                        </div>                                
                                                    </div>
                                                <div class="d-flex notes-tool"> 
                                                    <div class="ml-auto">
                                                        <a class="text-primary" href="{% url 'cctv-group' group_id=groupcam.id %}"><i class="far fa-eye fa-lg"></i></a>                                 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 {% endfor %}   
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Card DATA-->
            </div>
        </main>
        <!-- END: Content-->
  {% endblock content %}

