{% extends 'based/based.html' %}
{% block content %}
        <main>
            <div class="container-fluid site-width">
                <!-- START: Breadcrumbs-->
                <div class="row">
                    <div class="col-12  align-self-center">
                        <div class="sub-header mt-3 py-3 px-md-0 align-self-center d-sm-flex w-100 rounded">
                            <div class="w-sm-100 mr-auto"><h4 class="mb-0">Cell Dashboard</h4> <p>Welcome</p>
                                <a href="#" class="btn btn-primary">Get Started <i class="fas fa-arrow-right"></i></a> 
                            </div>
          
                        </div>
                    </div>
                </div>
                <!-- END: Breadcrumbs-->

                <!-- START: Card Data-->
                <div class="row">
                    <div class="col-md-2 col-lg-2 mt-3 pr-0">
                        <div class="card border-top-0">                          
                            <div class="card-content border-bottom border-top border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>1</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 mt-3 pr-0 pl-1">
                        <div class="card border-top-0">                          
                            <div class="card-content border-top border-primary border-w-5 border-bottom">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>2</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <span>halu</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 mt-3 pr-0 pl-1">
                        <div class="card border-top-0">                          
                            <div class="card-content border-top border-bottom border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 mt-3 pr-0 pl-1">
                        <div class="card border-top-0">                          
                            <div class="card-content border-top border-bottom border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 mt-3 pr-0 pl-1">
                        <div class="card border-top-0">                          
                            <div class="card-content border-top border-bottom border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 mt-3 pl-0">
                        <div class="card border-top-0">                          
                            <div class="card-content border-top border-bottom border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Card DATA-->  

                <!-- START: Card Data-->
                <div class="row mb-4">
                    <div class="col-md-2 col-lg-2 mt-3 pr-0">
                        <div class="card border-top-0">                          
                            <div class="card-content border-bottom border-top border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 mt-3 pr-0 pl-1">
                        <div class="card border-top-0">                          
                            <div class="card-content border-bottom border-top border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 mt-3 pr-0 pl-1">
                        <div class="card border-top-0">                          
                            <div class="card-content border-bottom border-top border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 mt-3 pr-0 pl-1">
                        <div class="card border-top-0">                          
                            <div class="card-content border-bottom border-top border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 mt-3 pr-0 pl-1">
                        <div class="card border-top-0">                          
                            <div class="card-content border-bottom border-top border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 mt-3 pl-0">
                        <div class="card border-top-0">                          
                            <div class="card-content border-bottom border-top border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Card DATA-->
                       <!-- START: Card Data-->
                <div class="row">
                    <div class="col-md-2 col-lg-2 mt-1 pr-0">
                        <div class="card border-top-0">                          
                            <div class="card-content border-top border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 mt-1 pr-0 pl-1">
                        <div class="card border-top-0">                          
                            <div class="card-content border-top border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 mt-1 pr-0 pl-1">
                        <div class="card border-top-0">                          
                            <div class="card-content border-top border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 mt-1 pr-0 pl-1">
                        <div class="card border-top-0">                          
                            <div class="card-content border-top border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 mt-1 pr-0 pl-1">
                        <div class="card border-top-0">                          
                            <div class="card-content border-top border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 mt-1 pl-0">
                        <div class="card border-top-0">                          
                            <div class="card-content border-top border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Card DATA-->

                <!-- START: Card Data-->
                <div class="row">
                    <div class="col-md-2 col-lg-2 mt-3 pr-0">
                        <div class="card border-top-0">                          
                            <div class="card-content border-top border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 mt-3 pr-0 pl-1">
                        <div class="card border-top-0">                          
                            <div class="card-content border-top border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 mt-3 pr-0 pl-1">
                        <div class="card border-top-0">                          
                            <div class="card-content border-top border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 mt-3 pr-0 pl-1">
                        <div class="card border-top-0">                          
                            <div class="card-content border-top border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                    <div class="col-md-2 col-lg-2 mt-3 pr-0 pl-1">
                        <div class="card border-top-0">                          
                            <div class="card-content border-top border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 mt-3 pl-0">
                        <div class="card border-top-0">                          
                            <div class="card-content border-top border-primary border-w-5">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="p-4 border-bottom">
                                            <div class="media d-flex w-100">
                                                <div class="circle-40 outline-badge-primary"><span>ML</span></div>
                                                <div class="media-body align-self-center pl-2">
                                                    <span class="mb-0 font-w-600">Max S. Lewis</span><br>
                                                                                                     
                                                </div>
                                               
                                            </div> 
                                        </li> 
                                    </ul>
                                   
                                    <div class="d-flex outline-badge-primary border-0">
                                        <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View<i class="fas fa-arrow-right"></i></a></div>
                                        <div class="w-50 text-center p-3"><a href="#" class="text-danger font-weight-bold">Cctv<span class="icon-logout"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Card DATA--> 
                           
            </div>
        </main>
{% endblock content %}