{% extends 'based/based.html' %}

  {% block content %}
   <!-- START: Main Content-->
        <main>
            <div class="container-fluid site-width">
                <!-- START: Breadcrumbs-->
                <div class="row">
                    <div class="col-12">

                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-7  align-self-center  my-4">
                                <div class="sub-header align-self-center d-sm-flex w-100 rounded">
                                    <div class="w-sm-100"><h4 class="mb-0">Dashboard</h4> <p>Welcome</p>
                                        {% comment %} <a href="#" class="btn btn-primary">Get Started <i class="fas fa-arrow-right"></i></a> {% endcomment %}
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- END: Breadcrumbs-->

                <!-- START: Card Data-->
                <div class="row">
                    <div class="col-12 col-md-3 mt-3">
                        <div class="card overflow-hidden"> 
                            <div class="card-header d-flex justify-content-between align-items-center">                               
                                <h6 class="card-title">Menu</h6>
                            </div>
                            <div class="card-content">
                                <div class="card-body p-0">
                                    <ul class="list-group list-unstyled">
                                        <li class="py-3 px-4 border-bottom zoom">                                           
                                            <a href="#" class="mb-0 font-w-600 d-flex w-100 color-primary">Project List<i class="fas fa-arrow-right ml-auto my-auto"></i></a> 
                                        </li>
                                        <li class="py-3 px-4 border-bottom zoom">  
                                            <a href="#" class="mb-0 font-w-600 d-flex w-100 color-primary">CCTV Dashboard <i class="fas fa-arrow-right ml-auto my-auto"></i></a>                                             
                                        </li>
                                        <li class="py-3 px-4 border-bottom zoom">      
                                            <a href="#" class="mb-0 font-w-600 d-flex w-100 color-primary">Cell Dashboard <i class="fas fa-arrow-right ml-auto my-auto"></i></a>                                                
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Card DATA-->                 
            </div>
        </main>
    
  {% endblock content %}
