{% extends 'based/based.html' %}
{% block content %}
      <!-- START: Main Content-->
        <main>
            <div class="container-fluid site-width">
                <!-- START: Breadcrumbs-->
                <div class="row ">
                    <div class="col-12  align-self-center">
                        <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                            <div class="w-sm-100 mr-auto"><h4 class="mb-0">Datatable</h4></div>

                            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item">Table</li>
                                <li class="breadcrumb-item active"><a href="#">Datatable</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- END: Breadcrumbs-->

                <!-- START: Card Data-->
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-header  justify-content-between align-items-center">                               
                                <h4 class="card-title">Data Tabel</h4> 
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example" class="display table dataTable table-striped table-bordered" >
                                        <thead>
                                            <tr>
                                                <th>No#</th>
                                                <th>Project Name</th>
                                                <th>Company</th>
                                                <th>Model</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Status</th>
                                                <th class="text-right">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {% for row in projectlist %}
                                            <tr>
                                                <td>{{row.id}}</td>
                                                <td>{{row.p_name}}</td>
                                                <td>{{row.p_company}}</td>
                                                <td>{{row.p_model}}</td>
                                                <td>{{row.p_startdate}}</td>
                                                <td>
                                                    {{row.p_enddate}}
                                                </td>
                                                <td>
                                                    {{row.p_status}}
                                                </td>
                                                <td class="text-right"><a href="" class="btn btn-outline-warning btn-rounded btn-uppercase"><i class="ti-settings m-r-5"></i>Manage</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    
                                    </table>
                                </div>
                            </div>
                        </div> 

                    </div>                  
                </div>
                <!-- END: Card DATA-->
            </div>
        </main>
        <!-- END: Content-->

{% endblock content %}

   