<!DOCTYPE html>
<html lang="en">
    <!-- START: Head-->
    <head>
        <meta charset="UTF-8">
        <title>Pick Admin</title>
        <link rel="shortcut icon" href="dists/images/favicon.ico" />
        <meta name="viewport" content="width=device-width,initial-scale=1"> 

        <!-- START: Template CSS-->
        <link rel="stylesheet" href="dists/vendors/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="dists/vendors/jquery-ui/jquery-ui.min.css">
        <link rel="stylesheet" href="dists/vendors/jquery-ui/jquery-ui.theme.min.css">
        <link rel="stylesheet" href="dists/vendors/simple-line-icons/css/simple-line-icons.css">        
        <link rel="stylesheet" href="dists/vendors/flags-icon/css/flag-icon.min.css">         
        <!-- END Template CSS-->

        <!-- START: Page CSS-->
        <link rel="stylesheet"  href="dists/vendors/chartjs/Chart.min.css">
        <!-- END: Page CSS-->

        <!-- START: Page CSS-->   
        <link rel="stylesheet" href="dists/vendors/morris/morris.css"> 
        <link rel="stylesheet" href="dists/vendors/weather-icons/css/pe-icon-set-weather.min.css"> 
        <link rel="stylesheet" href="dists/vendors/chartjs/Chart.min.css"> 
        <link rel="stylesheet" href="dists/vendors/starrr/starrr.css"> 
        <link rel="stylesheet" href="dists/vendors/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="dists/vendors/ionicons/css/ionicons.min.css"> 
        <link rel="stylesheet" href="dists/vendors/jquery-jvectormap/jquery-jvectormap-2.0.3.css">
        <!-- END: Page CSS-->

        <!-- START: Custom CSS-->
        <link rel="stylesheet" href="dists/css/main.css">
        <!-- END: Custom CSS-->
    </head>
    <!-- END Head-->

    <!-- START: Body-->
    <body id="main-container" class="default">