       <!-- START: Main Menu-->
        <div class="sidebar">
            <div class="site-width">
                <!-- START: Menu-->
                <ul id="side-menu" class="sidebar-menu">
                    <li class="dropdown active"><a href="#"><i class="icon-home mr-1"></i> Dashboard</a></li>
                
                    <li class="dropdown"><a href="#"><i class="icon-layers mr-1"></i>Project</a>                  
                        <ul>
                            <li><a href="app-calendar.html"><i class="icon-calendar"></i>Project List</a></li>
                        </ul>                   
                    </li>
        
                    <li class="dropdown"><a href="#"><i class="icon-doc mr-1"></i>CCTV</a>                  
                        <ul>
                            <li><a href="user-profile.html"><i class="icon-user"></i>Dashboard</a></li>
                            <li><a href="user-profile.html"><i class="icon-user"></i>Camera</a></li>
                        </ul>                   
                    </li>
                    <li class="dropdown"><a href="#"><i class="icon-doc mr-1"></i>Cell</a>                  
                        <ul>
                            <li><a href="user-profile.html"><i class="icon-user"></i>Cell Dashboard</a></li>
                            <li><a href="user-profile.html"><i class="icon-user"></i>Cell Manager</a></li>
                        </ul>                   
                    </li>
             
                </ul>
                <!-- END: Menu-->
                <ol class="breadcrumb bg-transparent align-self-center m-0 p-0 ml-auto">
                    <li class="breadcrumb-item"><a href="#">Application</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
        <!-- END: Main Menu-->